.btnD {
  
   margin-top:8%;
       
       }
.alert{
        color: rgb(255, 0, 0)!important;
       
       }


  .msg{
    margin-top: 5%;
  }     
  .textF{
    margin-top: 1%;
  }

  .btnS{
    margin-top: 1%;
  }