<div style="text-align:center">
 
  <button (click)="connect()" class="btn btn-primary">Connect</button>

</div>

<form (ngSubmit)="sendM" [formGroup]="sendMessageForm">
  <div class="input-field col s12">
   
    <label for="mesId">Your Message</label>
    <input id="mesId" type="text" required formControlName="message">

    <div
      *ngIf="sendMessageForm.controls.message.invalid && (sendMessageForm.controls.message.dirty || sendMessageForm.controls.message.touched)">

      <div *ngIf="sendMessageForm.controls.message.errors.required" class="alert alert-danger ">
        Message is required.
      </div>
    </div>
    <div class="col s12 ">
      <button type="submit" class="btn btn-primary left" [disabled]="!(sendMessageForm.valid)"
        [ngClass]="{'disabled': !(sendMessageForm.valid)}">
        Send Message
      </button>
    </div>
  </div>
</form>
<router-outlet></router-outlet>
